@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
}

.main-container{
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient( to right, #6281A2, #6281A2, #6281A2, #6281A2, #345474);
  padding: 20px 20px 0 20px;
}

.technologies-container { 
  background-color: #ffffff;
  padding: 5px 24px 24px 24px;
  border-radius: 10px;
  margin: 8px 0 18px 0;
}

.profile {
  border-style: solid;
  border-width: 4px;
  border-color: #afc5d4;
  border-radius: 60%;
}

.socials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-divider {
  display: flex;
  width: 178px;
  height: 40px;
  margin: 8px 0 4px 0;
  overflow-x: visible;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.213);
  backdrop-filter: hue-rotate(-10deg) brightness(110%);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.social-desc {
  width: 120px;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.social-button {
  text-decoration: none;
  color: white;
}

.social-img {
  margin: 0 0 0 10px;
}

.right{
  background: linear-gradient(to right, 
    #345474,
    #050F16,
    #050F16,
    #050F16,
    #050F16,
    #050F16,
    #345474
  );
  width: 84vw;
}

.name {
  margin: 30px 0 0 20px;
}

.desc {
  margin: 10px 0 0 20px;
}

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.carousel-buttons {
  z-index: 10;
  position: relative;
}