@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

/* Global Styles */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
  background: linear-gradient(to bottom, #000428, #004e92); /* Simplified background */
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

a {
  text-decoration: none;
  color: white;
}

/* Main Container */
.main-container {
  display: flex;
  flex-direction: column;
  width: 71.4%;
  margin: 0 auto;
}

/* Header Styles */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-top: 30px;
}

.header-right, .header-left {
  display: flex;
}

.header-left {
  flex-direction: column;
}

/* Social Links */
.social-link {
  border-radius: 8px;
  background-color: #243f97;
  margin-right: 10px;
}

.social-image {
  width: 30px;
  height: 30px;
  padding: 5px;
}

/* Projects Styles */
.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel-buttons {
  z-index: 10;
  position: relative;
  width: 100px;
  display: flex;
  justify-content: center;
}

.carousel-decrement, .carousel-increment {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.4);
  position: absolute;
}

.carousel-decrement:hover, .carousel-increment:hover {
  background-color: hsla(0, 0%, 100%, 0.6);
}

.carousel-active-counter {
  font-family: "Rubik", sans-serif;
}

.carousel-decrement {
  left: 0;
}

.carousel-increment {
  right: 0;
}

/* Secondary Container */
.secondary-container {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

/* Experience Styles */
.experience-container, .technologies-contact-container {
  width: 47.5%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding-top: 5px;
  max-width: 520px;
}

.experience-divider, .skills-divider {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin: 5px 10px 5px 10px;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-title, .skills-title {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  color: #ffffff;
}

.experience-description, .skills-item {
  color: #dbdbdb;
}

.experience-image {
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px;
  background-color: white;
}

.build, .innov8, .mlc {
  border-bottom: 2px solid #ffcf4c;
}

/* Resume and Skills Containers */
.resume-container {
  border-radius: 10px;
  background-color: #ffffff;
  height: 40px;
  padding: 10px 0;
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.resume-text {
  color: black;
  font-family: "Rubik", sans-serif;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

/* Responsive Design */
@media screen and (min-width: 1250px) {
  .carousel-buttons {
    margin-top: 350px;
  }
}

@media screen and (max-width: 1250px) {
  .experience-container {
    width: 100%; /* Adjusted for uniformity */
  }
  .carousel-buttons {
    margin-top: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .main-container,
  .header-container,
  .secondary-container,
  .experience-container,
  .technologies-contact-container {
    width: 100%;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .secondary-container {
    flex-direction: column;
    margin: 0 auto;
  }

  .experience-container,
  .technologies-contact-container {
    margin-bottom: 30px;
    margin: 0 auto;
  }

}

@media screen and (max-width: 800px) {
  .projects-container,
  .secondary-container,
  .experience-container,
  .technologies-contact-container,
  .skills-divider {
    width: 100%;
  }

  .carousel-buttons,
  .secondary-container,
  .resume-container {
    margin-top: 10px;
  }

  .secondary-container {
    padding: 0;
    margin-top: 40px;
  }

  .skills-title {
    margin-bottom: 20px;
  }

  .skills-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
