/* src/styles/PhotoGallery.module.css */
.caption {
    padding: 10px 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
  }
  
  .description {
    font-size: 1rem;
    color: #e0e0e0;
  }