.project {
  width: 700px;
  height: 340px;
  border-radius: 10px;
  min-height: 300px;
  position: absolute;
  top: 70px;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0px 0px 40px #17293a inset;
} 

.project-title {
  font-size: 30px;
  font-family: 'Poppins';
  border-bottom: 5px solid #ffcf4c;
  color: white;
}

.project-description {
  margin-top: 5px;
  color: white;
}

.live-image {
  width: 20px;
  height: 20px;
}

.github-image {
  width: 20px;
  height: 20px;
}

.project-image {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.project-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-assets-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.project-link {
  display: flex;
  align-items: center;
  margin-top: -16px;
  color: black;
}

.github-project-text {
  font-size: 16px;
  font-family: 'Poppins';
  margin-left: 2px;
  text-decoration: none;
  color: black;
}

a:visited, a:link {
  text-decoration: none;
}

/* media queries */
@media (min-width: 1250px) {
  .carousel-index_0 {
    z-index: 5;
    right: calc(50% - 350px);
  }
  
  .carousel-index_1 {
    z-index: 4;
    transform: rotate(1deg);
    right: calc(50% - 380px);
  }
  
  .carousel-index_2 {
    z-index: 3;
    transform: rotate(2deg);
    right: calc(50% - 410px);
  }
  
  .carousel-index_3 {
    z-index: 2;
    transform: rotate(3deg);
    right: calc(50% - 440px);
  }
  
  .carousel-index_4 {
    z-index: 1;
    transform: rotate(4deg);
    right: calc(50% - 470px);
  }
  
  .carousel-index_5 {
    z-index: 0;
    transform: rotate(5deg);
    right: calc(50% - 490px);
  }
  
  .carousel-index_-1 {
    z-index: 4;
    transform: rotate(-1deg);
    right: calc(50% - 320px);
  }
  
  .carousel-index_-2 {
    right: calc(50% - 290px);
    z-index: 3;
    transform: rotate(-2deg);
  }
  
  .carousel-index_-3 {
    right: calc(50% - 260px);
    z-index: 2;
    transform: rotate(-3deg);
  }
  
  .carousel-index_-4 {
    right: calc(50% - 230px);
    z-index: 1;
    transform: rotate(-4deg);
  }
  
  .carousel-index_-5 {
    right: calc(50% - 200px);
    z-index: 0;
    transform: rotate(-5deg);
  }
}

@media (min-width: 1250px) {

}

@media (min-width: 1250px) {

}