---
import Layout from "../layouts/Layout.astro";
import MobileBottomNav from "../components/MobileBottomNav.jsx";
import BreadCrumb from "../components/BreadCrumb.astro";
import { Image } from "astro:assets";

// Import images
import CK_LOGO from "../assets/CK_Logo.webp";
import CK_LOGO_BLACK from "../assets/CK_Logo_Black.webp";
import BUILD_LOGO from "../assets/BUILD_Logo.webp";
import EGG_LOGO from "../assets/egg-logo.svg";

// Import icons
import { FiGithub } from "react-icons/fi";
import { TbBrandYoutube } from "react-icons/tb";
import {
	FaInstagram,
	FaLinkedin,
	FaLastfmSquare,
	FaKeyboard,
} from "react-icons/fa";
import { FaSquareLetterboxd } from "react-icons/fa6";
import { MdOutlineFileDownload } from "react-icons/md";
---

<Layout>
	<div id="container">
		<div
			id="main-container"
			class="flex flex-col pt-9 pl-5 pr-8 pr-5 md:pt-4 md:px-[max(50px,5%)] md:gap-5"
		>
			<BreadCrumb />
			<div
				id="header-container"
				class="flex justify-between md:px-[10%] md:mt-10"
			>
				<div
					id="name-resume-container"
					class="flex flex-col justify-between"
				>
					<h1 class="[font-size:36px] leading-[36px]">
						Hi, I'm Roman Pisani
					</h1>
					<a
						id="resume-container"
						href="Roman_Pisani_resume.pdf"
						download
						class="mt-2 [font-size:24px] text-blue-300 hover:underline"
					>
						<h2
							id="resume-text"
							class="inline-block items-center gap-2"
						>
							Resume
							<MdOutlineFileDownload />
						</h2>
					</a>
				</div>
				<div id="desktop-nav-container" class="hidden md:block">
					<div
						id="icons-container"
						class="flex flex-col items-center gap-4"
					>
						<div
							id="icons-container-top"
							class="flex items-center [gap:clamp(1rem,2vw,2rem)] [margin-left:clamp(1rem,4vw,4rem)]"
						>
							<a
								href="https://www.github.com/romanobro56"
								rel="noopener noreferrer"
								target="_blank"
								aria-label="GitHub Profile"
							>
								<FiGithub size={32} aria-hidden="true" />
								<span class="sr-only">GitHub</span>
							</a>
							<a
								href="https://www.linkedin.com/in/roman-pisani"
								rel="noopener noreferrer"
								target="_blank"
								aria-label="LinkedIn Profile"
							>
								<FaLinkedin size={35} aria-hidden="true" />
								<span class="sr-only">LinkedIn</span>
							</a>
							<a
								href="https://youtube.com/@romanpisani8157"
								rel="noopener noreferrer"
								target="_blank"
								aria-label="YouTube Channel"
							>
								<TbBrandYoutube size={37} aria-hidden="true" />
								<span class="sr-only">YouTube</span>
							</a>
							<a
								href="https://www.instagram.com/roman.pisani56"
								rel="noopener noreferrer"
								target="_blank"
								aria-label="Instagram Profile"
							>
								<FaInstagram size={35} aria-hidden="true" />
								<span class="sr-only">Instagram</span>
							</a>
						</div>
						<div
							id="icons-container-bottom"
							class="flex items-center [gap:clamp(1rem,2vw,2rem)] [margin-left:clamp(1rem,4vw,4rem)]"
						>
							<a
								href="https://www.last.fm/user/Romanobro56"
								rel="noopener noreferrer"
								target="_blank"
								aria-label="Last.fm Profile"
							>
								<FaLastfmSquare size={35} aria-hidden="true" />
								<span class="sr-only">Last.fm</span>
							</a>
							<a
								href="https://monkeytype.com/profile/romanobro"
								rel="noopener noreferrer"
								target="_blank"
								aria-label="MonkeyType Profile"
							>
								<FaKeyboard size={37} aria-hidden="true" />
								<span class="sr-only">MonkeyType</span>
							</a>
							<a
								href="https://letterboxd.com/romanobro/"
								rel="noopener noreferrer"
								target="_blank"
								aria-label="Letterboxd Profile"
							>
								<FaSquareLetterboxd
									size={35}
									aria-hidden="true"
								/>
								<span class="sr-only">Letterboxd</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div
				id="experience-container"
				class="flex flex-col gap-[40px] md:mt-8 mb-20 md:px-[10%]"
			>
				<!-- Credit Karma -->
				<div
					id="experience-item"
					class="flex flex-col w-full gap-[14px] md:flex-row"
				>
					<div
						id="experience-date"
						class="text-[24px] md:w-[100px] md:flex-none"
					>
						May '24 - Aug '24
					</div>
					<div
						id="experience-divider"
						class="w-full h-1 bg-[#008601] rounded-[1px] md:h-auto md:w-1 md:min-w-1"
					>
					</div>
					<div
						id="experience-details-container"
						class="flex flex-col gap-[10px] md:ml-4"
					>
						<div id="experience-header" class="flex items-center">
							<div
								id="experience-cover"
								class="w-1/3 min-w-[60px] max-w-[100px] aspect-ratio-square md:max-w-[200px]"
							>
								<Image
									src={CK_LOGO}
									alt="Credit Karma Logo"
									class="w-full h-full hidden dark:block"
								/>
								<Image
									src={CK_LOGO_BLACK}
									alt="Credit Karma Logo"
									class="w-full h-full dark:hidden"
								/>
							</div>
							<div
								id="experience-name"
								class="text-[36px] leading-[36px] ml-[8px]"
							>
								Intuit Credit Karma
							</div>
						</div>
						<div
							id="experience-title"
							class="text-[28px] font-bold"
						>
							Software Engineering Intern
						</div>
						<div
							id="experience-description"
							class="text-[28px] max-w-[900px]"
						>
							I designed and built over 8 cross-platform pages for
							a new user flow focused on dispute management,
							adhering to banking security standards
						</div>
					</div>
				</div>
				<!-- BUILD UMass -->
				<div
					id="experience-item"
					class="flex flex-col w-full gap-[14px] md:flex-row"
				>
					<div
						id="divider"
						class="flex md:flex-col items-center gap-3"
					>
						<div
							id="experience-date"
							class="text-[24px] md:w-[100px] md:flex-none"
						>
							Sep '23 - Present
						</div>
						<span
							class="w-2.5 h-2.5 bg-green-400 rounded-full inline-block animate-pulse shadow-[0_0_8px_#4ade80]"
						></span>
					</div>
					<div
						id="experience-divider"
						class="w-full h-1 bg-[#A40301] rounded-[1px] md:h-auto md:w-1 md:min-w-1"
					>
					</div>
					<div
						id="experience-details-container"
						class="flex flex-col gap-[10px] md:ml-4"
					>
						<div id="experience-header" class="flex items-center">
							<div
								id="experience-cover"
								class="w-1/3 min-w-[60px] max-w-[100px] aspect-ratio-square md:max-w-[200px]"
							>
								<Image
									src={BUILD_LOGO}
									alt="BUILD UMass Logo"
									class="w-full h-full"
								/>
							</div>
							<div
								id="experience-name"
								class="text-[36px] leading-[36px] ml-[8px]"
							>
								BUILD UMass
							</div>
						</div>
						<div
							id="experience-title"
							class="text-[28px] font-bold"
						>
							Project Lead
						</div>
						<div
							id="experience-description"
							class="text-[28px] max-w-[900px]"
						>
							I am leading a team towards creating a resource
							sharing app regarding women's rights in India for
							Aarti Home
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			id="easter-egg-container"
			class="w-full relative bottom-[-20px] flex justify-center items-center"
		>
			<a href="https://g0ogle-classroom.xyz">
				<Image src={EGG_LOGO} alt="ssh" width={20} />
			</a>
		</div>
		<MobileBottomNav client:load />
	</div>
</Layout>
