---
import Layout from '../layouts/Layout.astro'
import BreadCrumb from '../components/BreadCrumb.astro';
import classNames from 'classnames';
---

<Layout title="Software - Roman Pisani">
  <div id="container">
    <div id="main-container" class="flex flex-col pt-9 pl-5 pr-8 md:pt-4 md:px-[max(50px,5%)] md:gap-5">
      <BreadCrumb />
      <div id="content-container" class="p-[10%] text-3xl">
        Under Construction
      </div>
    </div>
  </div>
</Layout>