---
---

<div id="breadcrumb-container" class="hidden md:flex flex-col gap-[20px] text-[30px] md:px-[10%] md:mt-10">
    <div class="flex gap-[20px]">
      <a id="breadcrumb" href="/" class="hover:underline">Experience</a>
      <a id="breadcrumb" href="/software" class="hover:underline">Software</a>
      <a id="breadcrumb" href="/creations" class="hover:underline">Creative Works</a>
    </div>
    <hr class="md:px-[10%]" />
  </div>