<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.title }}">

    <link rel="icon" media="(prefers-color-scheme:dark)" href="{{ site.favicon_dark | relative_url }}" type="image/png" />
    <link rel="icon" media="(prefers-color-scheme:light)" href="{{ site.favicon | relative_url }}" type="image/png" />
    <script src="{{ "/assets/js/favicon-switcher.js" | relative_url }}" type="application/javascript"></script>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin=anonymous>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% if site.font == "Sans Serif" %}
    <link rel="stylesheet" href="{{ "/assets/css/font_sans_serif.css" | relative_url }}">
    {% else %}
    <link rel="stylesheet" href="{{ "/assets/css/font.css" | relative_url }}">
    {% endif %}
    {% if site.auto_dark_mode %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/projects.css" | relative_url }}">
    {% else %}
    <link rel="stylesheet" href="{{ "/assets/css/style-no-dark-mode.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/projects-no-dark-mode.css" | relative_url }}">
    {% endif %}
  </head>
  <body>
    <div class="wrapper">
      <header>

        {% if site.avatar %}
        <a href="/" class="image avatar"><img src="{{ site.avatar | relative_url }}" alt="Roman Pisani profile picture" /></a>
        {% endif %}

        <h1><a href="/">{{ site.title }}</a></h1>

        {% if site.position %}
        <position style="font-size:1.10rem;">{{ site.position }}</position>
        <br>
        {% endif %}
        {% if site.affiliation %}
        <a href="{{ site.affiliation_link }}" rel="noopener"><autocolor>{{ site.affiliation }}</autocolor></a>
        <br>
        <autocolor style="font-size:0.9rem;">B.S. Computer Science</autocolor>
        <br>
        {% endif %}
        {% if site.email %}
        <email>{{ site.email }}</email>
        {% endif %}

        <br>
        <br>
        <div class="social-icons">
        {% if site.cv_link %}
        <a style="margin: 0 5px 0 0" href="{{ site.cv_link }}" aria-label="Download Resume">
          <i class="ai ai-cv" style="font-size:1.3rem;"></i>
        </a>
        {% endif %}
        {% if site.github_link %}
        <a style="margin: 0 5px 0 0" href="{{ site.github_link }}" aria-label="GitHub Profile">
          <i class="fab fa-github"></i>
        </a>
        {% endif %}
        {% if site.linkedin %}
        <a style="margin: 0 5px 0 0" href="{{ site.linkedin }}" aria-label="LinkedIn Profile">
          <i class="fab fa-linkedin"></i>
        </a>
        {% endif %}
        </div>
        <br>
      </header>
      <section>
      {{ content }}
      <br>
      </section>
      <footer>

      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
